.container {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  word-break: break-word;

  &__box {
    background: rgba(black, 0.5);
    display: flex;
    justify-content: center;
    margin-top: $s-size;
    padding: 10vh;
    width: 100%;
  }
  &--column {
    flex-direction: column;
  }
  &__column {
    background: rgba(black, 0.5);
    margin: 0 $m-size;
    padding: $s-size;
  }
  &--margin-bottom {
    margin-bottom: $m-size;
  }
  &--med-margin-y {
    margin-bottom: $m-size;
    margin-top: $m-size;
  }
  @media (min-width: $small-screen-breakpoint) {
    &__details {
      flex-direction: row;
    }
    &--margin-botom {
      margin-bottom: 0;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  &__container {
    padding: $s-size;
  }
  &__item-halves {
    width: 50%;
  }
  &__results {
    margin-top: $m-size;
  }
}
