.container {
  align-items: center;
  display: flex;

  &__box {
    background: rgba(black, 0.5);
    display: flex;
    justify-content: center;
    margin-top: $s-size;
    padding: 10vh;
    width: 100%;
  }
  &--column {
    flex-direction: column;
  }
  &__column {
    background: rgba(black, 0.5);
    margin: 0 $m-size;
    padding: $s-size;
  }
  &--med-margin-y {
    margin-bottom: $m-size;
    margin-top: $m-size;
  }
}
