.details {
  padding: $ms-size;
  &--green {
    color: $green;
  }
  &__link {
    color: white;
    text-decoration: none;
  }
  &--med {
    font-size: $m-size;
    padding-bottom: $s-size;
  }
  &--med-small {
    font-size: $ms-size;
    padding-bottom: $s-size;
  }
  &__title {
    font-size: $m-size;
    padding-bottom: $xs-size;
    @media (min-width: $small-screen-breakpoint) {
      font-size: $l-size;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  &__item-halves {
    width: 50%;
  }
}

.line-break {
  padding-bottom: $ms-size;
}
