.home__searchbar {
  background: $green;
  color: $dark-blue;
  padding: $m-size;
  width: 55rem;
  text-align: center;
  input {
    background: $dark-blue;
    border: none;
    color: white;
    font-size: 2em;
    padding: 1.2rem;
    width: 70vw;
    text-align: center;

    @media (min-width: $small-screen-breakpoint) {
      width: 50rem;
    }
  }
  input:focus {
    outline: none;
  }
}
