.button {
  background: $green;
  border: none;
  color: $dark-blue;
  margin-left: 5px;
  padding: 5px;
  &--home {
    background: $dark-blue;
    color: $green;
    margin-top: $s-size;
    padding: 5px $m-size;
  }
}

form {
  margin-top: 3px;
}

.text {
  &--ms {
    font-size: $ms-size;
  }
}
