// Colors
$dark-blue: rgb(8, 28, 36);
$green: rgb(1, 210, 119);

// Screen size breakpoints
$small-screen-breakpoint: 640px;
$medium-screen-breakpoint: 1007px;

// Spacing
$s-size: 1rem;
$m-size: 3rem;
