// Colors
$dark-blue: rgb(8, 28, 36);
$green: rgb(1, 210, 119);

// Screen size breakpoints
$small-screen-breakpoint: 670px;
$medium-screen-breakpoint: 1007px;

// Spacing
$xs-size: 0.5rem;
$s-size: 1rem;
$ms-size: 2rem;
$m-size: 3rem;
$l-size: 5rem;
